@import "../../variables.scss";

.search-bar {
    input {
        padding: 15px;
        color: $color-gray-one;
        box-shadow: 2px 3px 28px 1px rgba(0, 0, 0, 0.1);
        border: 0px solid transparent;
        border-radius: 5px;
        font-size: 30px;

        transition: all .2s ease;

        &::placeholder {
            color: #B3B3B3;
        }

        &:focus {
            outline: none;
            box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.3);
        }
    }
}